<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".ui.NavigationExample"
            android:exported="true"
            android:label="Navigation Example"
            android:resizeableActivity="true"
            android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
            tools:targetApi="24">
        </activity>

        <activity
            android:name=".TurnByTurnExperienceActivity"
            android:exported="true"
            android:label="Navigation Example"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppCompat"
            tools:targetApi="24">
        </activity>
    </application>
</manifest>
